.wrapper{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.searchInput{
	background: url("../images/search-bar.png"); 
	width: 276px;
	float: left;
}

.searchInput input{
	width: 239px; 
	background-color: transparent; 
	border: 0 solid; 
	padding: 3px 8px;
	font-size: 11px;
}


.options{
    height:50%;
    width:100%;
    float:right;   
    font-size: 11px;
}


.nav-item {
    display: inline-block;
  }

.nav-item:before {
    content: "| ";
  }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.nav-item:first-child:before {
    content: none;
  }

.lower-header{
    background-color:#f5f5f5;
    height: 40px;
}


.lower-left ul {
    white-space: nowrap;
    height: 100%;
}
.lower-left-item{
    display:inline-block;
    width:auto;
    height: 100%;
    margin: 0px 0px 0px 30px;
    padding: 10px 0px 10px 0px;
    font-size: 13px;
}

.lower-right{
    float:right;
    width: 302px;
    height: 100%;
    font-size: 11px;
}

.lower-right ul {
    white-space: nowrap;
    height: 100%;
    display: table;
}

.lower-right-item{
    display:inline-block;
    width: auto;
    display: table-cell;
    vertical-align: middle;
}

.lower-right-item div{
    display: inline-block;
}


.in-body{
    max-width: 938px;
    width:100%;
    height: 604px;
    margin-left: auto;
    margin-right: auto;
}

.friendReq{
    color: #aaaaaa;
}



div.section{
    white-space: nowrap;
    height: 100%;
}

.RecentSearches{
    width: 20.68%; /*194*/
    height: 100%;
    display: inline-block ;
    background-color: #f2f2f2;
    vertical-align: top;
}


.title{

    height: 42px;
    background-color: #2fc1da;
    color: white;
    /*padding:13px 12px 14px 12px;*/
    font-size:16px;
    text-align: center;
    line-height: 42px;

}

a{
    text-decoration: none;
}

.search ul{
	font-size: 11px;    
}

.left.search ul li{
	width: 100%;
    display: table;
}


.search ul li:hover{
	background-color: #fff;
}

.search li a{
    color:black;
}

.video.search ul li{
    height :35px;
    line-height: 15px;
    text-decoration: none;
    width : 100%;
    display:table;
    padding:8px;

}

.Entries{
    width: 60.56%;
    height: 100%;
    padding: 0px 25px;

    display: inline-block ;
}

.VideoTutorials{
    width: 18.76%; /*176*/
    height: 100%;
    display: inline-block ;
    background-color: #f2f2f2;
    vertical-align: top;
}


.head{
    border-bottom: 2px solid #2fc1da;
}

.textArea{
    height: 34.67px;
    width: 100%;
    font-size: 30px;
}


.AllEntries{
    height: 100%;
    width: 258px;
    display:inline-block;
    position: absolute ;
    top: 0px;
    left: 0px;
}


.AllEntries .name{
    background-image: url("../images/left-entriename.png");
}

.AllEntries .outer{
    background-image: url("../images/active-body-tab.png");
    color:white;
    background-repeat: no-repeat;
    background-position: center;
}

.AllEntries .inner{
    background-image: url("../images/inactive-body-tab.png");
    background-repeat: no-repeat;
    background-position: center;
    color: black;
}


.nav-separation .menu{
    height:30px;
    width:100%;
    background-color:#f2f2f2;
}

.nav-separation .menu div{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top:1px;
    text-align: center;
    line-height: 30px;
    font-size: 11px;
    
}

.Subscribed .inner{
    background-image: url("../images/inactive-body-tab.png");
    background-repeat: no-repeat;
    background-position: center;
    color: black;
}

.Subscribed .outer{
    background-image: url("../images/inactive-body-tab.png");
    background-repeat: no-repeat;
    color: black;
    background-position: center;
}

.Subscribed{
    height: 100%;
    width: 258px;
    display:inline-block;
    position: absolute ;
    top: 0px;
    left: 259px;
}

.Subscribed .name{
    background-image: url("../images/right-entriename.png");
}


.entry{
    width:100%;
    height: 100px;
    display: block;
    border-bottom:1px solid #d8d8d8;
}

.entry-container{
    width:100%;
    height:100%;
    display: block;
    padding: 15px 0px 14px 0px;
}


.row0{
    height:12px;
    width:100%;
    text-align: left;
    line-height: 16px;
    font-size: 10px;
    font-weight:600;

}

.row1{
    height:14px;
    width:100%;
    text-align: left;
    line-height: 16px;
    font-size: 13px;
    font-weight:600;
}

.row2{
    height:19px;
    width:100%;
    text-align: left;
    line-height: 14px;
    font-size: 11px;
    padding-top: 5px;
}

.row3{
    width:100%;
    height: 13px;
    line-height: 14px;
    font-size: 11px;
    text-align: left;
}

.entry-author{
    color:#4eafc0;
    font-weight:600;
}
.entry-subscription-status{
    color:#6e9721;
    font-weight:600;
}

.topic-box{
    color:#4eafc0;
    font-weight:600;
}
  
.footer-wrapper{
    background-color:#727272;
    height: 45px;
}

.right-footer{
    float:right;
    width:82px;
    height:100%;
    font-size:9px;
    color: #d3d3d3;
    font-weight: 600;
    line-height: 45px;
    text-align: right;
}

.left-footer ul {
    white-space:nowrap;
    height:100%;
}

.left-footer .item{
    float:left;
    font-size:9px;
    display:table;
    color: #d3d3d3;
    font-weight: 600;
    line-height: 45px;
}

.left-footer .item:before {
    content: "\2022";
    padding: 0px 4px 0px 4px;
  }

  .left-footer .item:first-child:before {
    content: none;
  }


